{% extends 'main.html' %} {% block content %}
<div class="col-md-9 mt-3">
  <div class="row">
    <div class="col-lg-6 offset-lg-3 col-sm-8 offset-sm-2 mt-5">
      <div class="card mb-5">
        {% if isCreator %}
        <div class="card-header text-center">
          <a href="{{url_for('editProduct', cat_id=product.category_id, prod_id=product.id)}}" class="h6 text-info px-4">edit</a>
          <a href="{{url_for('deleteProduct', cat_id=product.category_id, prod_id=product.id)}}" class="h6 text-info px-4">delete</a>
        </div>
        {% else %}
        <div class="card-header text-center">
          <i class="text-muted">Created by {{product.user.name}}</i>
        </div>
        {% endif %}
        <img class="card-img-top img-fluid" src="{{ product.image_url }}" alt="" />
        <div class="card-body">
          <h4 class="card-title">{{ product.name }}</h4>
          <p class="lead">{{ product.description }}</p>
          <a href="{{ product.product_url }}" class="btn btn-outline-success btn-block mb-3">Learn More</a>
          <a href="{{url_for('categories.showCategoryProducts', cat_id=category.id)}}" class="btn btn-outline-info btn-block">Other
            {{
            category.name }} Products</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}