{% extends 'main.html' %} {% block content %}
<div class="col-md-9 mt-3">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2>Create New Category</h2>
      <form action="#" method="POST">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="form_name" class="form-control" name="name" placeholder="Category Name" />
          <div class="invalid-feedback">
            Category Name is required
          </div>
        </div>
        <button type="submit" class="btn btn-success mt-3" id="submit" onclick="checkForm(event)" type="submit">
          Create
        </button>

      </form>
    </div>
  </div>
</div>

<script>
  function checkForm(event) {
    var nameVal = $('#form_name').val().length;
    if (nameVal == 0) {
      event.preventDefault();
    }
    $('#form_name').addClass(nameVal > 0 ? 'is-valid' : 'is-invalid');
  }
</script>
{% endblock %}