{% extends 'main.html' %} {% block content %}
<div class="col-md-9 mt-3">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-5">
            <h2>Are you sure you want to delete "{{categoryToDelete.name}}"" category?</h2>
            <form action="#" method="POST">
                <div class="form-group">
                    <button type="submit" class="btn btn-success mt-3" id="submit" type="submit">
                        Delete
                    </button>
                    <a href="{{url_for('showCategories')}}" class="btn btn-danger mt-3">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}