{% extends 'index.html' %} {% block content %}
<div class="mt-5 row">
  <div class="pl-5">
    <div id="signinButton">
      <span
        class="g-signin"
        data-scope="openid email"
        data-clientid="701642673146-3kp6lbmbupfee6vpobadc2pfjodn4ukr.apps.googleusercontent.com"
        data-redirecturi="postmessage"
        data-accesstype="offline"
        data-cookiepolicy="single_host_origin"
        data-callback="signInCallback"
        data-approvalprompt="force"
      >
      </span>
    </div>

    <div id="result" class="lead"></div>
  </div>
</div>

{% endblock %}
